In [1]:
import os
import json
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
REPORTS_DIR = "/s/ls4/users/grartem/RL_robots/CommandClassifier/models/"

# AVG macro for every label except Y

In [3]:
table = []
for experimentName in ["rubert_tiny_multilabel", "rubert_tiny2_multilabel", "rubert_tiny2_multilabel_useY", 
                       "MyMultiTiny2", 'rubert_tiny2_multilabel_noYno0', 'MyMultiTiny2_data2']:
    table.append({
            "experiment": experimentName,
        })
    for fold_i in range(5):
        if not os.path.exists(os.path.join(REPORTS_DIR, experimentName, "fold_{}".format(fold_i), "reports", "epoch-{}_avg_report.json".format(10))):
            continue
        with open(os.path.join(REPORTS_DIR, experimentName, "fold_{}".format(fold_i), "reports", "epoch-{}_avg_report.json".format(10)), "r") as f:
            report = json.load(f)
        counter, avg = 0, 0
        for k, v in report.items():
            if k in ['correct_samples_perc', 'avg_macro_f1', 'avg_acc', "[y]_macrof1"]:
                continue
            if "_acc" in k:
                continue
            avg += v
            counter += 1
        table[-1]["fold_{}".format(fold_i)] = avg / counter
table_df = pd.DataFrame(table)
table_df["avg"] = table_df.mean(axis=1)
table_df

/tmp/ipykernel_19200/4233581077.py:22: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  table_df["avg"] = table_df.mean(axis=1)

,experiment,fold_0,fold_1,fold_2,fold_3,fold_4,avg
0,rubert_tiny_multilabel,0.656221,0.788847,0.798268,0.771456,0.692731,0.741505
1,rubert_tiny2_multilabel,0.712103,0.808319,0.800255,0.872807,0.729718,0.784641
2,rubert_tiny2_multilabel_useY,0.867841,0.921471,0.931782,0.903677,0.878254,0.900605
3,MyMultiTiny2,0.747985,0.867845,0.885532,0.870766,0.785339,0.831493
4,rubert_tiny2_multilabel_noYno0,0.726645,0.816066,0.857530,0.833494,0.764395,0.799626
5,MyMultiTiny2_data2,0.631311,0.711226,0.619603,0.717916,0.634661,0.662943

# AVG macro for every label except Y, rule

In [4]:
# AVG macro for every label except Y
table = []
for experimentName in ["rubert_tiny_multilabel", "rubert_tiny2_multilabel", "rubert_tiny2_multilabel_useY", 
                       "MyMultiTiny2", 'rubert_tiny2_multilabel_noYno0', 'MyMultiTiny2_data2']:
    table.append({
            "experiment": experimentName,
        })
    for fold_i in range(5):
        if not os.path.exists(os.path.join(REPORTS_DIR, experimentName, "fold_{}".format(fold_i), "reports", "epoch-{}_avg_report_rule.json".format(10))):
            continue
        with open(os.path.join(REPORTS_DIR, experimentName, "fold_{}".format(fold_i), "reports", "epoch-{}_avg_report_rule.json".format(10)), "r") as f:
            report = json.load(f)
        counter, avg = 0, 0
        for k, v in report.items():
            if k in ['correct_samples_perc', 'avg_macro_f1', 'avg_acc', "[y]_macrof1"]:
                continue
            if "_acc" in k:
                continue
            avg += v
            counter += 1
        table[-1]["fold_{}".format(fold_i)] = avg / counter
table_df = pd.DataFrame(table)
table_df["avg"] = table_df.mean(axis=1)
table_df

/tmp/ipykernel_19200/2706142119.py:23: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  table_df["avg"] = table_df.mean(axis=1)

,experiment,fold_0,fold_1,fold_2,fold_3,fold_4,avg
0,rubert_tiny_multilabel,NaN,NaN,NaN,NaN,NaN,NaN
1,rubert_tiny2_multilabel,0.721689,0.799400,0.841307,0.873737,0.722955,0.791818
2,rubert_tiny2_multilabel_useY,NaN,NaN,NaN,NaN,NaN,NaN
3,MyMultiTiny2,0.693438,0.855437,0.887406,0.869824,0.787433,0.818707
4,rubert_tiny2_multilabel_noYno0,NaN,NaN,NaN,NaN,NaN,NaN
5,MyMultiTiny2_data2,0.630421,0.699496,0.624316,0.719519,0.635023,0.661755

# Action macro

In [5]:
# action macro
table = []
for experimentName in ["rubert_tiny_multilabel", "rubert_tiny2_multilabel", "rubert_tiny2_multilabel_useY", 
                       "MyMultiTiny2", 'rubert_tiny2_multilabel_noYno0', 'MyMultiTiny2_data2']:
    table.append({
            "experiment": experimentName,
        })
    for fold_i in range(5):
        if not os.path.exists(os.path.join(REPORTS_DIR, experimentName, "fold_{}".format(fold_i), "reports", "epoch-{}_avg_report.json".format(10))):
            continue
        with open(os.path.join(REPORTS_DIR, experimentName, "fold_{}".format(fold_i), "reports", "epoch-{}_avg_report.json".format(10)), "r") as f:
            report = json.load(f)
        
        table[-1]["fold_{}".format(fold_i)] = report["[action]_macrof1"]
table_df = pd.DataFrame(table)
table_df["avg"] = table_df.mean(axis=1)
table_df

/tmp/ipykernel_19200/671555499.py:16: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  table_df["avg"] = table_df.mean(axis=1)

,experiment,fold_0,fold_1,fold_2,fold_3,fold_4,avg
0,rubert_tiny_multilabel,0.218173,0.290406,0.425217,0.329409,0.294454,0.311532
1,rubert_tiny2_multilabel,0.287010,0.362280,0.467950,0.327672,0.342981,0.357579
2,rubert_tiny2_multilabel_useY,0.792393,0.701818,0.946667,0.491611,0.506968,0.687891
3,MyMultiTiny2,0.390605,0.609524,0.690220,0.560655,0.447203,0.539641
4,rubert_tiny2_multilabel_noYno0,0.326082,0.400806,0.523414,0.353647,0.329066,0.386603
5,MyMultiTiny2_data2,0.401253,0.294741,0.382420,0.341958,0.413142,0.366703